

.online {
    border-radius: 50%;
    width: 10px;
    height:10px;
    background-color: green;
}

.offline {
    border-radius: 50%;
        width: 10px;
        height: 10px;
    background-color: red;
}

.name {
    
    justify-content: center;
}

.avatar{
    display: block;
     margin: 0 auto
}
.item {
        /* display: inline-flex; */
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 20px;
}